@media (min-width: 1024px) {
  header a:hover,
  .teammate-social-icons div:hover,
  .footer-content .social-icons .icon:hover,
  .footer-content a:hover {
    font-weight: bold;
    background-color: grey;
    color: white;
  }

  .top-navigation .trigram {
    display: none;
  }
}

@media (max-width: 1023px) {
  .top-navigation ul li a {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
  }

  .top-navigation {
    display: flex;
    flex-direction: row-reverse;
  }

  .portfolio-list {
    flex-direction: column;
    gap: 1rem;
  }

  .portfolio-item {
    flex-direction: row;
  }

  .teammates-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }


  footer .social-icons .icon + span {
    display: none;
  }

  footer .social-icons div {
    width: 100%;
  }

  .footer-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .footer-contacts > div {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .portfolio-item {
    flex-direction: column;
    align-items: center;
  }

  .teammates-content .teammates-list-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .teammate {
    border: 1px solid black;
    flex-direction: row;
    width: 100%;
  }

  .teammate-data {
    justify-content: center;
  }

  .social-icons {
    flex-direction: column;
    align-items: center;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
  }

  .footer-contacts > div {
    width: 100%;
    text-align: center;
  }

  .content h1,
  .content h2,
  .content p.subtext {
    text-align: center;
    padding: 10px;
  }

  footer .social-icons .icon + span {
    display: block;
  }
}
