@media (min-width: 1024px) {
  .logo-icon {
    background-color: white;
  }

  .facebook:hover .icon,
  .facebook:hover span {
    color: white !important;
    transition: color 0.3s ease;
  }

  .twitter:hover .icon,
  .twitter:hover span {
    color: white !important;
    transition: color 0.3s ease;
  }

  .instagram:hover .icon,
  .instagram:hover span {
    color: white !important;
    transition: color 0.3s ease;
  }

  .linked-in:hover .icon,
  .linked-in:hover span {
    color: white !important;
    transition: color 0.3s ease;
  }

  header a:hover,
  .teammate-social-icons div:hover {
    font-weight: bold;
    background-color: grey;
    color: white;
  }

  .footer-content a:hover {
    text-decoration: underline;
    color: white;
  }

  .top-navigation .trigram {
    display: none;
  }
}

@media (max-width: 1023px) {
  .top-navigation ul li a {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: white;
  }

  .top-navigation {
    display: flex;
    flex-direction: row-reverse;
  }

  .portfolio-list {
    flex-direction: column;
    gap: 1rem;
  }

  .portfolio-item {
    flex-direction: row;
  }

  .teammates-list-wrapper {
    display: grid;
    grid-template-columns: 294.5px 294.5px;
    grid-template-rows: 234.219px 234.219px 234.219px 234.219px;
    place-items: center;
  }

  footer .social-icons .icon + span {
    display: none;
  }

  footer .social-icons div {
    width: 100%;
  }

  .footer-contacts {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
  }

  .footer-contacts > div {
    width: 50%;
  }

  .phones {
    justify-self: center;
    grid-column: 1 / span 2;
  }
}

@media (max-width: 767px) {
  nav.top-navigation {
    width: 100%;
    min-width: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
  }

  button.trigram {
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 100;
    margin: 0;
    padding: 0;
  }

  .portfolio-item {
    flex-direction: column;
    align-items: center;
  }

  .teammates-content .teammates-list-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .teammate-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .teammates-list-wrapper {
    display: grid;
    flex-direction: initial;
    flex-wrap: initial;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    width: 300px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  .teammate {
    border: 1px solid black;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-right: 20px;
  }

  .teammate-data {
    justify-content: center;
  }

  .teammates-list::after,
  .teammates-list::before {
    display: none;
  }

  .social-icons {
    flex-direction: column;
    align-items: center;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
  }

  .footer-contacts > div {
    width: 100%;
    text-align: center;
  }

  .content h1,
  .content h2,
  .content p.subtext {
    text-align: center;
    padding: 10px;
  }

  footer .social-icons .icon + span {
    display: block;
  }
}
